:root {
  --bg: #0b1120;
  --sidebar: #111827;
  --navbar: #111827;

  --card: rgba(255, 255, 255, 0.08);

  --primary: #7c3aed;
  --secondary: #2563eb;
  --cyan: #06b6d4;

  --text: #f8fafc;
  --muted: #94a3b8;

  --radius: 18px;
}